/* ...........Main Login ................. */

.mainlogin{
  display: flex;
  justify-content: space-between;
}







.mainlogin>:nth-child(1){
  width: 42%;
  position: fixed;
}
.mainlogin>:nth-child(2){
  width: 58%;
  position: absolute;
  left: 42%
}










