.container{
  /* border: 1px solid green; */
  width: 100%;
}
.formTag {
  /* border: 2px solid teal; */
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  background: rgb(240, 240, 247);
  margin: auto;
}
.inputTag {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid gray;
}
.datePickerTag {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid gray;

}
.submit{
  background-color: #3182ce;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}
.submit:hover{
  background-color: #5289bd;
  cursor: pointer;
}

/* .todoTag {
  display: flex;
} */
.tasks{
  margin-top: 30px;
  color: black
}
.showData {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 30px;
  padding: 20px;
  font-size: 30px;
  border-radius: 20px;
  background-color: rgb(245, 217, 180);
}
.showData>button{
  border: 1px solid black;
  width: 70%;
  margin: auto;
  padding: 10px 15px 10px 15px;
  background-color: rgb(208, 61, 61);
  color: white;
  font-size: 15px;
  border-radius: 50px;
}
.showData>button:hover{
  background-color: rgb(201, 77, 77);
  cursor: pointer;
}


.calenderNav{
  background-color: white;
  width: 100%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  padding: 25px;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  font-size: medium;
  font-weight: bold;
  color: black;
}
.calenderNav>h3:hover{
cursor: pointer;
}
.calenderNav>select{
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}
.calenderNav>h3:nth-child(1){
  border-bottom: 2px solid blue;
  color: blue;
}




.calenderSecondNav{
  background-color: transparent;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-size: medium;
  color: white;
}
.calenderSecondNav>div:nth-child(1)>h3{
font-size: 30px;
color: white;
}
.calenderSecondNav>div:nth-child(2){
  width: 60%;
}
.calenderSecondNav>div:nth-child(2)>input{
  width: 80%;
}
.calenderSecondNav>div:nth-child(2)>input{
  background-color: white;
  color: black;
  margin-left: 20px;
  padding: 8px;
  border-radius: 10px;
  width: 80%;
}
.calenderSecondNav>div:nth-child(3)>button{
margin-left: 20px;
}
