  /* =====================Rightside components=========================== */


  .right_box1 {
    width: 100%;
    /* border: 1px solid rgb(252, 84, 84); */
    height: auto;
    /* border: 1px solid red; */
  }

  
.hline{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .right_box1 > :nth-child(1) {
    font-size: 31px;
    padding: 20px;
    margin-bottom: -10px;

  }
  .right_box1 > :nth-child(3) {
    font-size: 16px;
    /* padding: 20px; */
  }




  .text1 {

    font-size: 14px;
    color: grey;
    width: 65%;
    margin: auto;
    margin-top: 20px;
    line-height: 30px;
    text-align: start;
  }
  .text1>span{
    color: #27a3f8;
  }
  
  .input_filed11{
    text-align: start;
    padding: 22px;
    width: 65%;
    border-radius: 0px;
    font-size: 18px;
    outline: none;
  }
  
  

.form_controls1>:nth-child(1){
  font-size: 20px;
  line-height: 26px;
   width: 65%;
   font-weight: lighter;
   margin: auto;
   /* font-family:sans-serif; */
  color: grey;
   margin-top: 10px;
   margin-bottom: 10px;
}
.form_controls1>:nth-child(3){
  font-size: 20px;
  line-height: 26px;
   width: 65%;
   font-weight: lighter;
   margin: auto;
   /* font-family:sans-serif; */
  color: grey;
   margin-top: 10px;
   margin-bottom: 10px;
}

  .check_box1{
    display: flex;
    flex-direction: column;
    width: 62%;
    color: grey;
    line-height: 25px;
    margin: auto;
  }
  
  .btn_box1 {
    padding: 15px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
  }
  .btn_box1 > button {
    border-radius: 70PX;
    padding: 25PX 35PX 25PX 35PX;
   
  }
  .btn_box1 > :nth-child(1) {
    background: #9dcf00;
    color: white;
  }
  .haveaccounttext1{
    margin-top: 20px;
color: grey;
  }
  .haveaccounttext1>*{
    margin-top: 20px; 
    color:  #27a3f8;
  }
  .bottom_text1 {
    margin-top: 120px;
    margin-bottom: 80px;
    font-size: 14px;
    color: grey;
  }
  .bottom_text1>span{
    color: #27a3f8;
    cursor: pointer;
  }
  .check_text1{
    font-size: 14px;
  }



  .errormassage{
    width: 50%;
    margin: auto;

    text-align: center;
  }
.errormassage>*{
  border-radius: 15px;
}

  /* .........Social Buttons......... */


    