/* ............Left side................ */

  
  .left_box {
    width: 100%;
    /* border: 1px solid black; */
    height: 100vh;
    /* position: relative; */
    background: #2fc6f6;
  }
  
  .img1 {
    position: absolute;
    top: 200px;
    width: 10200px;
  }
  .img2 {
    position: absolute;
    top: 100px;
    width: 200px;
  }
  .img3 {
    position: absolute;
    top: 500px;
    left: 320px;
    width: 200px;
  }
  
  .f_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 120px;
  }
  
  .middle_box {
    position: absolute;
    top: 300px;
    color: white;
    left: 100px;
    text-align: start;
  }
  
  .middle_box > :nth-child(1) {
    font-size: 60px;
  }
  .middle_box > :nth-child(2) {
    font-size: 30px;
  }
  







  /* =====================Rightside components=========================== */





  .right_box {
    width: 100%;
    /* border: 1px solid rgb(252, 84, 84); */
    height: auto;
  }
  
  hr{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .right_box > :nth-child(1) {
    font-size: 31px;
    padding: 20px;
  }
  .right_box > :nth-child(3) {
    font-size: 16px;
    /* padding: 20px; */
  }
  .right_box > :nth-child(6) {
    font-size: 24px;
    text-align: start;
    margin-left: 200px;
    padding: 5px;
  }
  
  .btn_google {
    padding: 30px;
    margin-top: 20px;
  }
  .btn_google > * {
    width: 30%;
    height: 30px;
    margin-right: 10px;
  }
  .inpux1_box {
    width: 60%;
    padding: 30px;
    border: 1px solid grey;
  }
  .text {
    margin-top: 20px;
  }
  
  .check_box {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: auto;
  }
  
  .btn_box {
    padding: 20px;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: auto;
  }
  .btn_box > button {
    border-radius: 20px;
    padding: 20px;
  }
  .btn_box > :nth-child(1) {
    background: #9dcf00;
    color: white;
  }
  .bottom_text {
    margin-top: 50px;
  }
  