/* ............Left side................ */

  
  .left_box1 {
    width: 100%;
    /* border: 1px solid black; */
    height: 100vh;
    /* position: relative; */
    /* border: 1px solid rgb(0, 0, 0); */
    background: #2fc6f6;
  }
  
  .img11 {
    position: absolute;
    top: 200px;
    width: 1000px;
  }
  .img21 {
    position: absolute;
    top: 100px;
    width: 200px;
  }
  .img31 {
    position: absolute;
    top: 500px;
    left: 320px;
    width: 200px;
  }
  
  .f_box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 100px;
    left: 120px;
  }
  
  .f_box1>:nth-child(1){
    position: absolute;
left: -50px;
top: -40px;
  }
  
  .f_box1>:nth-child(2){
    position: absolute;
 left: 300px;
  }
  .middle_box1 {
    position: absolute;
    top: 300px;
    color: white;
    left: 100px;
    text-align: start;
  }
  
  .middle_box1 > :nth-child(1) {
    font-size: 60px;
  }
  .middle_box1 > :nth-child(2) {
    font-size: 30px;
  }
  







  /* =====================Rightside components=========================== */





  .right_box {
    width: 100%;
    /* border: 1px solid rgb(252, 84, 84); */
    height: auto;
    /* border: 1px solid red; */
  }

  
  hr{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .right_box > :nth-child(1) {
    font-size: 31px;
    padding: 20px;
    margin-bottom: -10px;

  }
  .right_box > :nth-child(3) {
    font-size: 16px;
    /* padding: 20px; */
  }



  .btn_google {
margin: auto;
margin-top: 20px;
  }








  .text {
    margin-top: 20px;
    font-size: 14px;
  }
  
.input_filed{
    width: 60%;
    padding: 20px;
   border-radius: 0px;
   text-align: center;
}

.form_controls>:nth-child(1){
font-size: 22px;
 width: 60%;
 margin: auto;
 margin-top: 10px;
 margin-bottom: 10px;
 font-weight: 200;
}
.form_controls>:nth-child(3){
    font-size: 22px;
 width: 60%;
 margin: auto;
 margin-top: 10px;
 margin-bottom: 10px;
 font-weight: 200;
}

  .check_box {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: auto;
  }
  
  .btn_box {
    padding: 20px;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: auto;
  }
  .btn_box > button {
    border-radius: 20px;
    padding: 25px;
   
  }
  .btn_box > :nth-child(1) {
    background: #9dcf00;
    color: white;
  }
  .bottom_text {
    margin-top: 120px;
    margin-bottom: 80px;
    font-size: 14px;
  }
  .check_text{
    font-size: 14px;
  }