.App {
  text-align: center;
  font-size: 40px;
}
.chakra-ui-light{
  background-image: url('./image/website_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}