.App {
  text-align: center;
  font-size: 40px;
/* color:rgba(19, 19, 19, 0.826);  */
}
.chakra-ui-light{
  background-image: url('./image/Botrix24 background(1).jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}