
.scroll {
  background: grey;
  margin-top: 200px;
  margin-bottom: 20px;
  height: auto;
}

::-webkit-scrollbar {
  width: 3px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(80, 78, 78);
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: rgba(59, 59, 59, 0.2);
  /* color:rgba(190, 179, 179, 0.559); */
}

.drower{
  background-image: url('./sky.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}